footer {
    width: 99.2vw;
    height: 51vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #260259;
    padding: 20px 0;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

footer div p {
    padding: 10px;
}

.footer img {
    width: 20%;
}

.footer {
    width: 100%;
    flex-direction: column;
    color: white;
    margin-bottom: 3vw;
}

footer a, p {
    color: white;
}